<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Signin</title>
        <style>
            .responsive-box {
                width: 80vw;
            }
        
            @media (min-width: 768px) {
                .responsive-box {
                    width: 40vw;
                }
            }
        </style>
</head>

<body>
    <%- include('./partials/scripts') %>
        <%- include('./partials/navbar') %>
            <div class="responsive-box border rounded p-4 m-auto mt-4">
                <% if (typeof error !== 'undefined' && error) { %>
                <div class="alert alert-danger">
                    <%= error %>
                </div>
                <% } %>
                <form action="/user/signin" method="post"> 
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
</body>

</html>